/*footer*/
footer {
    grid-area: ft;
    background-color: rgb(210,224,221);
    display:flex;
    justify-content: space-evenly;
    padding:15px;
    padding-left: 30px;
    border: 1px solid rgb(42,60,54);
    border-radius: 20px;
}

.box1 a {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;   
    text-decoration: none;
    color:rgb(42, 60, 54);
    font-style: italic;
    font-size: 18px;
}
.box1 a:hover{
    font-size: 20px;
}

.footer-menu ul {
    list-style-type:none;
    padding-left: 0px;
}
.footer-menu li {
    padding-bottom: 10px
}
.footer-menu li a {
    text-decoration: none;
    color: rgb(42, 60, 54);
    font-size: 18px;
}
.footer-menu li a:hover {
    font-size: 20px;
}
.social {
    padding-right: 30px;
    padding-top: 30px;
}
/*small footer*/
.small-footer {
    grid-area: sf;
}

.small-footer p {
    background-color: rgb(180, 203, 198);
    margin: 0;
    padding-left: 5px;
}

.small-footer a {
    color: rgb(51, 51, 51);
}

.small-footer a:hover {
    color:rgb(204, 0, 82)
}