body { 
    background-image: url(bodyBackG.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Neue Montreal', sans-serif;
    color: rgb(51, 51, 51);
    margin:0;
    padding:0;
}

/*css grid*/
.container {
    display:grid;
    max-width: 100%;
    grid-template-columns: 100px 150px 250px;
    grid-template-rows: 80px auto 150px 20px;
    grid-template-areas: 
      "hd hd hd hd hd hd hd hd"
      "sd sd main main main main main main"
      "ft ft ft ft ft ft ft ft"
      "sf sf sf sf sf sf sf sf";
}

/*header style*/
.header {
    grid-area: hd;
    background-color:rgb(225, 234, 232);
}

.logo {
    align-items: center;
    padding: 0px;
    margin: 5px;
    text-align: center;
}

.logo a {
    text-decoration: none;
    color: rgb(94, 135, 122);
    font-family:'Neue Montreal', sans-serif;   
    font-size: 30px;
    text-shadow: 3px 3px 3px rgb(180, 203, 194);    
}

nav ul { 
    list-style-type: none;
    margin-right: 20px;
    text-align: center;
}

nav li a { 
    text-decoration: none;
    font-size: 16px;
    color: rgb(94, 135, 122);
    text-shadow: 0px 0px 1px rgb(180, 203, 194);
}

nav li a:hover { 
color: rgb(204, 0, 82);
}

nav li { 
    display: inline-block;
    padding-right: 30px;
}
/*sidebar style*/
.sidebar {
    grid-area: sd;
    margin:15px 0 0 10px;
    padding: 0;  
}

.archive h3 {
    padding-top: 55px;
    margin-top: 15px;
}
.archive ul {
    padding-left: 0px;
    list-style-type: none;
}
.archive ul a {
    text-decoration: none;
    color: rgb(51, 51, 51);
}
.archive ul a:hover {
    color:rgb(204, 0, 82);
}
.social h3{
    margin: 0;
}

.submit {
    border: 1px solid rgb(51, 51, 51);
    border-radius: 8px;
    margin: 0 130px 0 0;
    color:rgb(51, 51, 51);
    background-color: transparent;
    text-align: center;
    cursor: pointer; 
    box-shadow: none;  
    font-family: 'Neue Montreal', sans-serif;  
    font-size: 12px; 
    margin-top: 5px;
}
.subscription {
    padding: 30px 30px 0 0;
}
.subscription h3{
    margin: 0;
}
.subscribe {
    border: 1px solid rgb(51, 51, 51);
    color:rgb(51, 51, 51);
    background-color: transparent;
    text-align: left;
    cursor: pointer; 
    box-shadow: none;  
    font-family: 'Neue Montreal', sans-serif;  
    font-size: 12px; 
    margin-top: 5px;
}
.submit:hover{
    transition-duration: 0.4s;
    font-size: 14px;
}

.search input {
    background-color: transparent;
}
.search-btn {
    cursor: pointer;
}
/*Content style*/
.content {
    grid-area: main;
}

.content h1 {
    padding-top: 45px;
}

.content p {
    margin-bottom: 5px;
    width: 1000px;
}

/*recent article*/
.hp-pic{
    margin: 0 15px 0 0;
}
.hp-pic img {
    max-height: 666px;
    max-width: 1000px;
}

/*blog post page*/
.blog-post q{
    font-size: 20px;
    font-style: italic;   
    font-weight:bold;
    quotes:'«' '»';
    color:rgb(94,135,121); 
}
.blog-post p {
    margin-right: 0;
}

.second-p a{
    text-decoration: none;
    color:rgb(51, 51, 51);
    font-weight: bold;
}

.second-p a:hover{
    color:rgb(204, 0, 82);
}

.pics-2 {
    width: 1000px;
    display: flex;
    justify-content: space-evenly;
}

.pic-1 {
    margin-right: 15px;

} 

.pic-2 {
    margin-left: 15px;
}

.social-img {
    margin: 5px 0 10px 0;
}

/*author info*/
.author {
    border-top:1px dotted rgb(105, 150, 134);
    border-bottom: 1px dotted rgb(105, 150, 134);
    display: flex;
    justify-content: space-evenly;
    margin: 80px 180px 80px 0; 
}

.author-pic {
    padding: 10px 0 10px 10px;
}

.author-info ul {
    list-style-type:circle;
    padding: 8px 30px 0 30px;   
}

/*footer*/
.footer {
    grid-area: ft;
    background-color: rgb(210,224,221);
    display:flex;
    justify-content: space-evenly;
    padding:15px;
    padding-left: 30px;
    border: 1px solid rgb(42,60,54);
    border-radius: 20px;
}

.box1 a {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;   
    text-decoration: none;
    color:rgb(42, 60, 54);
    font-style: italic;
    font-size: 18px;
}
.box1 a:hover{
    font-size: 20px;
}

.footer-menu ul {
    list-style-type:none;
    padding-left: 0px;
}
.footer-menu li {
    padding-bottom: 10px
}
.footer-menu li a {
    text-decoration: none;
    color: rgb(42, 60, 54);
    font-size: 18px;
}
.footer-menu li a:hover {
    font-size: 20px;
}
.social {
    padding-right: 30px;
    padding-top: 30px;
}
/*small footer*/
.small-footer p {
    background-color: rgb(180, 203, 198);
    margin: 0px;
}

.small-footer {
    grid-area: sf;
}

/*mobiles*/
@media(max-width: 600px) {
    .container {
        display:grid;
        max-width: 100%;
        grid-template-columns: 700px;
        grid-template-rows: 80px 160px auto auto 20px;
        grid-template-areas: 
          "hd"
          "sd"
          "main"
          "ft"
          "sf";
    }

    .archive ul {
        display: none;
    }

    .sidebar {
        display:flex;
        justify-content: space-around;
        margin: 10px 0;
        background-color: rgb(180, 203, 198);
    }

    .search {
        margin-left: 15px;
        margin-top: 65px;
    }

    .archive h3 {
        padding-top: 50px;
        margin-bottom: 45px;
    }
    .social {
        padding-right: 0;
        margin-top: 10px;
    }
    .subscription {
        padding-right: 0;
        max-width: 150px;
    }
    .social h3 {
        display: none;
    }

    .hp-pic{
        max-width: 700px;
    }

    .hp-pic img {
        max-width: 700px;
    }

    .blog-post p {
        max-width: 700px;
    }

    .second-img {
        max-width: 700px;
    }

    .pics-2 {
        max-width: 700px;
        flex-wrap: wrap;
    }

    .pic-1 {
        width: 100%    
    } 
    
    .pic-2 {
        width: 100%;
        margin: 10px 0;
    }

    .social-img {
        max-width: 700px;
    }

    .footer {
        max-width:700px;
        display: block; 
    }

    .box1 {
        text-align: center;
    }
    .footer-menu {
        text-align: center;
    }
    .social-f {
        text-align: center;
    }
}
/*tablet*/
@media(min-width:601px) and (max-width:900px) {
    body {
        margin: 0 5px;
        text-align: center;
    }

    .container {
        display:grid;
        max-width: 100%;
        grid-template-columns: 860px;
        grid-template-rows: 80px 160px auto auto 20px;
        grid-template-areas: 
          "hd"
          "sd"
          "main"
          "ft"
          "sf";
    }

    .archive ul {
        display: none;
    }

    .sidebar {
        display:flex;
        justify-content: space-around;
        margin: 10px 0;
        background-color: rgb(180, 203, 198);
    }

    .search {
        margin-left: 15px;
        margin-top: 65px;
    }

    .archive h3 {
        padding-top: 50px;
        margin-bottom: 45px;
    }
    .social {
        padding-right: 0;
        margin-top: 10px;
    }
    .subscription {
        padding-right: 0;
        max-width: 150px;
    }
    .social h3 {
        display: none;
    }

    .hp-pic{
        max-width: 800px;
    }

    .hp-pic img {
        max-width: 800px;
    }

    .blog-post p {
        max-width: 800px;
        margin-right: 0;
    }

    .second-img {
        max-width: 800px;
    }

    ul {
        list-style-type: none;
    }

    .pics-2 {
        max-width: 800px;
        flex-wrap: wrap;
    }

    .pic-1 {
        width: 100%; 
        margin: 10px 0;   
    } 
    
    .pic-2 {
        width: 100%;
        margin: 10px 0;
    }

    .social-img {
        max-width: 800px;
    }
    .author {
        text-align: left;
        margin-right: 0;
    }

    .footer {
        max-width:800px;
        display: block; 
    }

    .box1 {
        text-align: center;
    }
    .footer-menu {
        text-align: center;
    }
    .social-f {
        text-align: center;
    }
}




 