body { 
    background-image: url(bodyBackG.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Neue Montreal', sans-serif;
    color: rgb(51, 51, 51);
    margin:0;
    padding:0;
}

/*css grid*/
.container {
    display:grid;
    max-width: 100%;
    grid-template-columns: 100px 150px 250px;
    grid-template-rows: 80px auto 150px 20px;
    grid-template-areas: 
      "hd hd hd hd hd hd hd hd"
      "sd sd main main main main main main"
      "ft ft ft ft ft ft ft ft"
      "sf sf sf sf sf sf sf sf";
}
/*header style*/
.header {
    grid-area: hd;
    background-color:rgb(225, 234, 232);
}

.logo {
    align-items: center;
    padding: 0px;
    margin: 5px;
    text-align: center;
}

.logo a {
    text-decoration: none;
    color: rgb(94, 135, 122);
    font-family:'Neue Montreal', sans-serif;   
    font-size: 30px;
    text-shadow: 3px 3px 3px rgb(180, 203, 194);    
}

nav ul { 
    list-style-type: none;
    margin-right: 20px;
    text-align: center;
}

nav li a { 
    text-decoration: none;
    font-size: 16px;
    color: rgb(94, 135, 122);
    text-shadow: 0px 0px 1px rgb(180, 203, 194);
}

nav li a:hover { 
color: rgb(204, 0, 82);
}

nav li { 
    display: inline-block;
    padding-right: 30px;
}
/*sidebar style*/
.sidebar {
    grid-area: sd;
    margin:15px 0 0 10px;
    padding: 0;  
}

.sb-list {
    list-style-type: none;
    padding-inline-start: 0px;
    margin-top: 60px;
}

.archive h3 {
    padding-top: 55px;
    margin-top: 15px;
}
.archive ul {
    padding-left: 0px;
    list-style-type: none;
}
.archive ul a {
    text-decoration: none;
    color: rgb(51, 51, 51);
}
.archive ul a:hover {
    color:rgb(204, 0, 82);
}
.social h3{
    margin: 0;
}

.submit {
    border: 1px solid rgb(51, 51, 51);
    border-radius: 8px;
    margin: 0 130px 0 0;
    color:rgb(51, 51, 51);
    background-color: transparent;
    text-align: center;
    cursor: pointer; 
    box-shadow: none;  
    font-family: 'Neue Montreal', sans-serif;  
    font-size: 12px; 
    margin-top: 5px;
}
.subscription {
    padding: 30px 30px 0 0;
}
.subscription h3{
    margin: 0;
}
.subscribe {
    border: 1px solid rgb(51, 51, 51);
    color:rgb(51, 51, 51);
    background-color: transparent;
    text-align: left;
    cursor: pointer; 
    box-shadow: none;  
    font-family: 'Neue Montreal', sans-serif;  
    font-size: 12px; 
    margin-top: 5px;
}
.submit:hover{
    transition-duration: 0.4s;
    font-size: 14px;
}

.search input {
    background-color: transparent;
}
.search-btn {
    cursor: pointer;
}
/*Content style*/
.content {
    grid-area: main;
}

.content h1 {
    padding: 45px 0 0 0;
}

.content p {
    margin-bottom: 5px;
    margin-right: 180px;
}
/*read more button styling*/
.read-more {
    display:flex;
    justify-content: flex-end;
    align-items: center;
}    
.read-more a{
    border-bottom: 1px solid rgb(51, 51, 51);
    margin: 0 190px 0 0 !important;
    color:rgb(51, 51, 51);
    background-color: transparent;
    text-align: center;
    cursor: pointer; 
    box-shadow: none;  
    text-decoration: none;
    font-family: 'Neue Montreal', sans-serif;  
    font-size: 12px; 
}
.read-more a:hover{
    transition-duration: 0.4s;
    font-size: 14px;
}
/*recent article*/
.hp-pic{
    margin: 0 15px 0 0;
}
.hp-pic img {
    max-height: 666px;
    max-width: 1000px;
}
/*about me section*/
.aboutme-hp {
    display: flex;
    border: 1px solid rgb(42,60,54);
    margin: 80px 110px 0 0;
    width: 1000px;
    background-color:rgb(225, 234, 232);
    box-shadow: 5px 5px 5px;
}

.description {
    padding: 15px;
}

.description h2 { 
    margin-top: 50px;
}

.description p {
    text-align: justify;
    margin: 5px 10px 5px 0 !important;
}

.description a {
    border-bottom: 1px solid rgb(51, 51, 51);
    margin: 5px 0 0 380px;
    color:rgb(51, 51, 51);
    background-color: transparent;
    text-align: center;
    cursor: pointer; 
    box-shadow: none; 
    text-decoration: none; 
    font-family: 'Neue Montreal', sans-serif;  
    font-size: 12px;
}
.description a:hover{
    transition-duration: 0.4s;
    font-size: 14px;
}
/*old articles section*/
.postcards {
    grid-area: pc;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    width: 1000px;
}
.card {
    width: 30%;
    height: auto;
    margin: 1.5%;
    background-color:white;  
}
.card-image {
    width: 100%;
    height: auto;
}
.card-text h2{
    margin: 0px;
}
.card-text {
    padding: 15px 15px 0 15px;
    margin-bottom: 0;
}
.article-content {
    margin-right: 0;
}
.card-text button {
    border: 1px solid rgb(51, 51, 51);
    border-radius: 8px;
    margin: 5px 0 10px 200px;
    color:rgb(51, 51, 51);
    background-color: transparent;
    text-align: center;
    cursor: pointer; 
    box-shadow: none;  
    font-family: 'Neue Montreal', sans-serif;  
    font-size: 11px; 
}
.card-text button:hover{
    transition-duration: 0.4s;
    font-size: 12px;
}
/*footer*/
.footer {
    grid-area: ft;
    background-color: rgb(210,224,221);
    display:flex;
    justify-content: space-evenly;
    padding:15px;
    padding-left: 30px;
    border: 1px solid rgb(42,60,54);
    border-radius: 20px;
}

.box1 a {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;   
    text-decoration: none;
    color:rgb(42, 60, 54);
    font-style: italic;
    font-size: 18px;
}
.box1 a:hover{
    font-size: 20px;
}

.footer-menu ul {
    list-style-type:none;
    padding-left: 0px;
}
.footer-menu li {
    padding-bottom: 10px
}
.footer-menu li a {
    text-decoration: none;
    color: rgb(42, 60, 54);
    font-size: 18px;
}
.footer-menu li a:hover {
    font-size: 20px;
}
.social {
    padding-right: 30px;
    padding-top: 30px;
}
/*small footer*/
.small-footer p {
    background-color: rgb(180, 203, 198);
    margin: 0px;
}

.small-footer {
    grid-area: sf;
}

/*blog post page*/
.blog-post q{
    font-size: 20px;
    font-style: italic;   
    font-weight:bold;
    quotes:'«' '»';
    color:rgb(94,135,121); 
}
.second-p a{
    text-decoration: none;
    color:rgb(51, 51, 51);
    font-weight: bold;
}
.second-p a:hover{
    color:rgb(204, 0, 82);
}
.pics-2 {
    width: 1000px;
    display: flex;
    justify-content: space-evenly;
}
.pic-1 {
    margin: 10px 0 10px 0;

} 
.pic-2 {
    margin: 10px 0 10px 0;
}

.social-img {
    margin: 5px 0 10px 0;
}

.lorem {
    margin-right: 180px;
}




 